html,body {
margin:0;
padding:0;
}
/*#pageWrapper {*/
/* position: relative;*/
/* min-height: 100vh;*/
/*    text-align: center;*/
/*    max-width: 75%;*/
/*}*/
/*header {*/
/* font-size: 1.5em;*/
/* font-family: 'Josefin Sans', sans-serif;*/
/* color: #BF8768;*/
/* !*text-align: center;*!*/
/*}*/
main {
font-size: 1.25em;
font-family: 'Josefin Sans', serif;
color: #504A40;
}
form {
padding: 25px;
padding-bottom: 35px;
background-color: #8458B3;
color: #a0d2eb;
width: 75%;
margin: auto;
left      : 50%;
top       : 35%;
position  : absolute;
transform : translate(-50%, -50%);
border-radius: 30px;
}
input[type=button], input[type=submit], input[type=reset] {
font-size: 1.25em;
background-color: #a28089;
border: none;
color: black;
text-decoration: none;
cursor: pointer;
margin: auto;
position: relative;
left: 45%;
border-radius: 5px;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
background-color: #D9D0BF;
color: #504A40;
}
footer {
font-size: 0.75em;
position: absolute;
bottom: 0;
width: 100%;
background-color: #a28089;
color: #241400;
text-align: center;
}
footer p {
width: 50%;
margin: auto;
padding: 0.5em;
}
}/**/
